.button__search {
    padding: 10px;
    color: #f2f2f2;
    background-color: #F56565!important;
    margin-bottom: 1rem;
    font-size: 1.4rem!important;
}
.button__search:hover {
    background-color: #C53030!important;
}