.poke__box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.poke__box img {
    margin: 1rem;
    width: 300px;

}

.container__pokemon {
    width: 70%;
    margin: 0 auto;
}
@media (min-width: 900px) {
    .poke__box img {
        width: 200px;
    }
}

.alert__box {
    width: 60%;
    margin: 0 auto;
}
